.footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  background-color: var(--grullo);
  border-top: var(--darkvanilla) 2px solid;

  margin-top: 20rem;

  padding: 1rem;

  p {
    color: var(--background-color);
  }
}

.footer-content {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  gap: 5rem;
}

.footer-content-container {
  width: auto;
  height: 160px;

  padding: 1rem;

  display: flex;
  flex-direction: column;
  font-size: 1.1rem;

  h3 {
    margin-bottom: 1rem;
    color: var(--olive);
    text-align: left;
  }

  img {
    width: 38px;
    height: 38px;

    &:hover {
      border-radius: 5px;
      background-color: var(--darkvanilla);
      cursor: pointer;
    }
  }

  a {
    text-decoration: none;
    color: var(--background-color);

    margin-bottom: 0.2rem;
    letter-spacing: 1px;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.social-media-container {
  width: 200px;
  height: auto;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  gap: 1rem;
}

.copy {
  font-size: 1rem;
  color: var(--background-color);
}
