.profile-content {
  width: 80%;
  height: auto;

  border: 1px solid red;

  border-radius: 5px;

  background-color: var(--background-color);

  margin: 0 auto;
  margin-top: 5rem;

  padding: 1rem;
  gap: 0.5rem;
}

.profile-wrapper {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1rem;
}

.profile-configuration {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: row;
  position: relative;
}

.avatar-container {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  overflow: hidden;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;

  cursor: pointer;
}

.profile-content input:hover {
  border: 1px solid #828282;
}
.profile-content input:focus {
  border: 1px solid white;
}

.input {
  height: 40px;
  width: clamp(150px, 13%, 250px);
  font-weight: bold;
  font-size: 1.3rem;
  text-align: center;
  outline: none;
  border: none;
  background: none;
}

.input-description {
  height: 30px;
  width: 500px;
  font-size: 1rem;

  font-weight: normal;
}

.input-creator {
  border: 1px solid #a1a1a1;
}

.input-creator-description {
  border: 1px solid #a1a1a1;
  font-weight: normal;
}

/* Button */
.configuration-menu-btn {
  width: 40px;
  height: 40px;
  background-color: var(--darkvanilla);
  border: none;
  border-radius: 5px;
  font-size: 1rem;

  transition: 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}
