.cart {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--olive);
  color: var(--darkvanilla);

  padding: 1rem;

  h1 {
    margin-bottom: 1rem;
  }
}
