.filter {
  height: 1000px;
  max-width: 20%;
  min-width: 10%;
  border-right: var(--darkvanilla) 2px solid;

  padding: 0.5rem;
}

.filter h3 {
  font-size: 1rem;
  font-weight: bolder;
  margin-bottom: 5px;
}

.filter-category {
  width: auto;
  height: auto;
  border-bottom: var(--darkvanilla) 2px solid;
  padding-bottom: 1rem;

  display: flex;
  flex-direction: column;

  gap: 0.5rem;
}

.filter-category a {
  text-decoration: none;
  color: var(--grullo);
  font-weight: bold;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
