.main-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  width: 100%;
  height: auto;
  min-height: 1000px;

  display: flex;
  flex-direction: column;
  background-color: var(--olive);
  color: var(--darkvanilla);

  padding: 1rem;

  h1 {
    margin-bottom: 1rem;
  }
}

.home-container {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
}

/* Products */

.products-container {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.product-container {
  width: 13%;
  height: auto;
  border: var(--camouflage) 1px solid;
  background-color: var(--olive);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  gap: 1rem;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 1;

  h2 {
    text-align: left;
    margin-bottom: 0.5rem;
  }

  &:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
  }
}

.product-image-container {
  width: 90%;
  height: 400px;

  display: flex;
  justify-content: center;
  align-content: center;
  overflow: hidden;

  margin-bottom: 1rem;
}

.product-image {
  width: 100%;
  height: 100;
  object-fit: contain;
}

.product-info-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.products-container h2 {
  font-size: 1.5rem;
  letter-spacing: 1.5px;
  color: var(--grullo);
}

.description {
  font-size: 1rem;

  margin-bottom: 1rem;

  text-align: left;
  color: var(--grullo);
}

.buy-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
}

.buy-container img {
  width: 35px;
  height: 35px;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: var(--camouflage);
  }
}

.price {
  font-size: 1.2rem;
  color: var(--darkvanilla);
  font-weight: bold;
}

/* modal window */
.modal {
  width: auto;
  height: 50px;
  z-index: 1000;

  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 1.5rem;

  background-color: var(--background-color);

  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;

  gap: 1rem;

  p {
    font-weight: bold;
  }

  animation: move 0.5s ease-in-out;
}

.close-button {
  width: 30px;
  height: 30px;
  border-radius: 5px;


  position: absolute;
  top: 10px;
  right: 10px;

  &:hover {
    background-color: var(--olive);
    cursor: pointer;
  }
}

.close-button-modal {
  width: 30px;
  height: 30px;
  border-radius: 5px;

  &:hover {
    background-color: var(--olive);
    cursor: pointer;
  }
}

@keyframes move {
  from {
    opacity: 0;
    right: 0px;
  }
  to {
    opacity: 1;
    right: 10px;
  }
}

.thank-container {
  height: 80vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin-bottom: 1rem;
    font-size: 5rem;
  }
}

.thanks-button {
  width: 500px;
  height: 80px;
  border: none;
  font-size: 2rem;
  border-radius: 5px;
  background-color: var(--camouflage);

  &:hover {
    background-color: var(--background-color);
    cursor: pointer;
  }
}
