.video-container {
  width: 100%;
  height: 800px;
  position: relative;
  overflow: hidden;
}

.video-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 1;
}

.home-article {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;

  h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
  }

  h2 {
    margin-bottom: 1rem;
  }
}

/* order */

.order-container {
  width: 90%;
  height: 600px;

  margin-top: 5rem;

  display: flex;
  flex-direction: row;

  background-color: var(--camouflage);
}

.order-container-side {
  width: 50%;
  height: 100%;

  padding: 1rem;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--olive);
  background-color: var(--grullo);

  overflow: hidden;

  p {
    align-items: flex-start;
  }
}

.align-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.2rem;
    text-align: justify;
    margin-bottom: 1rem;
  }
}

.order-button {
  width: 180px;
  height: 40px;
  background-color: var(--darkvanilla);
  color: var(--olive);
  border: none;
  border-radius: 5px;
  font-size: 1rem;

  transition: 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: var(--olive);
    color: var(--darkvanilla);
  }
}
