.filter {
  height: auto;
  width: 100%;
}

.filter h3 {
  font-size: 1rem;
  font-weight: bolder;
  margin-bottom: 5px;
}

.filter h2 {
  font-weight: bolder;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--darkvanilla);
}

.filter-category {
  width: auto;
  height: auto;
  border-top: var(--darkvanilla) 2px solid;
  border-bottom: var(--darkvanilla) 2px solid;

  padding: 1rem;

  display: flex;
  flex-direction: column;

  gap: 0.5rem;
}

.filter-category a {
  text-decoration: none;
  color: var(--grullo);

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
