.header {
  width: 100%;
  height: 80px;

  padding: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 5rem;

  margin-bottom: 5rem;

  background-color: var(--grullo);

  border-bottom: var(--darkvanilla) 2px solid;
}

.logo-container {
  width: 15%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.logo {
  width: 150px;
  height: 150px;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Search Bar and Components */

.search-bar {
  position: relative;
  max-width: 60%;
  min-width: 40%;
  height: 50px;
}

.search-button {
  width: 50px;
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: transparent;
  cursor: pointer;

  position: absolute;
  left: 0;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  outline: none;

  img {
    width: 30px;
    height: 30px;
  }

  &:hover {
    background-color: var(--camouflage);
  }
}

.search-bar input {
  width: 100%;
  height: 100%;
  padding-left: 4rem;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: var(--olive);
  color: white;
  font-size: 1.1rem;
}

/* Icons container */

.icons-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.cart-icon {
  width: 45px;
  height: 45px;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: var(--camouflage);
  }
}

.profile-icon {
  width: 45px;
  height: 45px;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: var(--camouflage);
  }
}

.icon {
  width: 30px;
  height: 30px;
}

.profile-container {
  width: 200px;
  height: auto;
  display: flex;
  flex-direction: row;

  p {
    color: var(--camouflage);
    font-size: 1rem;
    font-weight: bold;
  }
}

.profile-avatar-container {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 5px;

  margin-right: 0.5rem;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.count-circle {
  width: 20px;
  height: 20px;

  position: absolute;

  transform: translate(60%, -50% );

  border-radius: 100%;

  background-color: var(--camouflage);

  display: flex;
  justify-content: center;
  align-items: center;
}
