@font-face {
  font-family: "Lora";
  font-style: normal;
  font-weight: normal;
  src: url("./Lora-VariableFont_wght") format("ttf");
}
:root {
  font-family: "Lora", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--darkvanilla);
  background-color: var(--olive);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --background-color: #6a6352;
  --darkvanilla: #d5ccab;
  --grullo: #a3a289;
  --camouflage: #878568;
  --olive: #505143;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}
